<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Email</th>
        <th scope="col">Numero telefonico</th>
        <th scope="col">Actualizar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
        <% clients.forEach((value) => { %>
            <tr>
                <th scope="row"><%= value.id%></th>
                <td><%= value.first_name%></td>
                <td><%= value.last_name%></td>
                <td><%= value.email%></td>
                <td><%= value.telephone%></td>
                <td>
                  <a href=clients_edit/<%= value.id %>>
                    <button type="button" class="btn btn-success">Actualizar</button>
                  </a>
                </td>
                <td>
                  <a href=clients_delete/<%= value.id %>>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                  </a>
                </td>
            </tr> 
        <% }); %>
    </tbody>
  </table>