<!DOCTYPE html>
<html lang="en">
<%- include('partials/headers/header'); -%>
    <body>
        <div class="container">
            <h1>Actualizaciand un tipo de transacción</h1>
            <%- include('partials/headers/footer'); -%>
                <% transactionsType.forEach((value)=> { %>
                    <form method="POST" action=/transactionsType_edit/<%=value.id%>>
                        <div class="mb-3">
                            <label for="inputName" class="form-label">tipo de transacción</label>
                            <input type="text" class="form-control" id="inputName" name="name" value=<%=value.name%>>
                        </div>
                        <div class="mb-3">
                            <label for="inputDescription" class="form-label">Descripción</label>
                            <textarea class="form-control" id="inputDescription" rows="3"
                                name="description"><%= value.description%></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Actualizar</button>
                        <a href="/accounts_types"><button class="btn btn-primary">Cancelar</button></a>
                    </form>                    
                    <% }); %>
        </div>
    </body>

</html>